
<div id="login-form" class="form-container">
  <h2 class="heading">Log In</h2>
  <form action="/auth/login" method="POST" class="form">

    <label class="label"> Username
      <input class="input"  type="text" name="username" placeholder="Your username" />
    </label>

    <label class="label"> Email
      <input class="input"  type="email" name="email" placeholder="Your email" />
    </label>

    <label class="label"> Password
      <input class="input" type="password" name="password" placeholder="Your password" />
    </label>

    <button class="button" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <p class="text">No account? <a class="link" href="/auth/signup">Sign up</a></p>
  </form>
</div>