<div id="unauthorized">
    <div class="unauthorized-body">
       <h1>STOP</h1>
       <h2>You have tried to access something that isn't yours. If you are the owner, make sure you are logged in an try again</h2>
       <a href="/auth/login">Click Here To Login</a>
       </h2>
    </div>
 </div>