
<div class="content">
  <div class="card-grid">
    {{#each users}}
      <a href="/profile/{{this._id}}" class="card">
        {{#if this.imageUrl}}
          <img class="avatar" src={{this.imageUrl}}>
        {{else}}
          <div class="avatar"></div>
        {{/if}}
       <span class="card-title">{{this.username}}</span>
      </a>
    {{/each}}
  </div>
</div>