<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1>HarvestSoul</h1>
        <span>partial</span>
        <ul class="navbar-nav">
            {{#if comparison}}
            <li class="nav-item">
                <a class="nav-link" href="/profile/{{_id}}/edit">Edit Profile</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/event/eventCreate">Add an event</a>
            </li>
            {{/if}}
            <li class="nav-item">Back To Profile</li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/find">See other users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event/find">See events</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active profile-log-out" aria-current="page" href="/">Log out</a>
            </li>
        </ul>
    </div>
</nav>