<div id="server-error">
   <div class="server-error-body">
        <h1>Error!</h1>
        <h2>Sorry, There  was a server error! Try again later</h2>
        <a class="server-error-href" href="/">Click Here To Return To Home Page</a>
   </div> 
</div>
