<div id="landing-page">

    <nav class="index-nav">
    <div class="nav-logo"><img src="/images/logo-removebg.png" class="logo" />
    <span class="brand">Welcome to Harvest Soul</span></div>
        <div class="nav-links">
            <a href="/auth/signup" class="log-in">Sign Up</a>
            <a href="/auth/logout" class="log-in">Log in</a>
            
        </div>
    </nav>

    <div class="cta">
        <h1 class="cta-heading"> Farmers Provide For Our Community,
            <br>We Provide A Community For Farmers </h1>
        <a class="cta-signup" href="/auth/signup"> Join Now!</a>

    </div>


    <div class="landing-page-footer">
        <span class="created-by"> Created by Julia Chernik and Dave Mullally</span>
</div>