<div id="landing-page">

    <nav class="index-nav">
    <span class="brand">Harvest Soul</span>
        <div class="nav-links">
            <a href="/auth/login" class="log-in">Log In</a>
        </div>
    </nav>

    <div class="cta">
        <h1 class="cta-heading"> Farmers Provide For Our Community,
            We Provide A Community For Farmers </h1>
        <a class="cta-signup" href="/auth/signup"> Sign Up For Free</a>
    </div>


    <div class="landing-page-footer">
        <span class="created-by"> Created by Julia Chernik and Dave Mullally</span>
</div>