
<div class="content">
  <div class="card-grid">
    {{#each events}}
      <a href="/event/{{this._id}}" class="card card-vertical">
       <span class="card-title">{{this.description}}</span>
       <span>{{this.location}}</span>
       <span>{{this.organizerName}}</span>
      </a>
    {{/each}}
  </div>
</div>





